body {
	background:  #dfe6e9;
	font-family: 'Lato', sans-serif;
	/*Medida Utilizada para designer responsivo */
	font-size: 1vw; 
	border-top:  8px solid #273c75;	
	color: #333;
}
.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 30px;

}
	@media (min-width: 1170px) {
		.container {
			width: 1170px;
			padding: 0;
			/*border: 1px solid #000 --> debug para validar a margem*/
		}
	}

/* estilo do header */
.header {
}
	.logo {
		display: block;
		width: 200px;
		margin: 20px auto;
		margin-top: 28px;
	}	

	.titulo-site {
		width: 100%;
		text-align: center;
		font-size: 5vw;
		text-transform: uppercase;
		padding: 10px;
	}
		@media (min-width: 768px) {
			.titulo-site {
				font-size: 3vw;
			}
		}

nav{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-size: 250%
	position: relative;
	display: inline-block;
	font-size: 1.8vw;
	font-weight: 1000;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	margin-top: 20px;
	background: #D8CF41;
}

	.navbar-nav{

	}

		.nav-item a {
				display: block;
				padding:  10px 15px;
				text-decoration: none;
				color: #000;
				background: #D8CF41;	

			}

				.nav-item:last-child a {
					border-radius: 0 5px 5px 0;

				}

				.nav-item a:hover {
					background:  #dfe6e9;
				}

/* Menu responsivo */
@media (max-width: 480px) {
	.nav-item:first-child a {
		border-radius: 0 ;

	}
}

@media (min-width: 480px) {
	
	.navbar-nav-mobile {
		left: 50%;
		width: 300px;
		margin-left: -150px;

	}

	.nav-item:first-child a {
		border-radius: 5px 0 0 5px;
	}
}
/*Será aplicado nos dispositivos com telas maiores de 768 */
@media (max-width: 768px) {
	.navbar-nav {

		font-size: 1.8vw;
		font-weight: 1000;
	}
		.nav-list {
			width: 100%;
			display: none;
		}
			.nav-item {
				width: 100%;
				float: none;
				border-top:  1px solid #121211;
			}
				.nav-item:first-child a {
					border-radius: 5px 5px 0 0;
				}

				.nav-item:last-child a {
					border-radius: 0 0 5px 5px;
				}

	/* Deixa o menu mobile visivel só para celulares e tablets */
	.nav-mobile {
		display: block;
	}


footer{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}


section{
	padding-top: 60px;
}













