body {
	background:  #dfe6e9;
	font-family: 'Lato', sans-serif;
	/*Medida Utilizada para designer responsivo */
	border-top:  8px solid  #ffc331;	
	color: #333;
}
.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 30px;

}
	@media (min-width: 1170px) {
		.container {
			width: 1170px;
			padding: 0;
			/*border: 1px solid #000 --> debug para validar a margem*/
		}
	}

/* estilo do header */
.header {
}
	.logo {
		display: block;
		max-width: 500px;
		margin: 20px auto;
		margin-top: 28px;
	}	
	

nav{

	border-radius: 5px 5px 5px 5px;
	font-size: 250%
	position: relative;
	display: inline-block;
	font-size: 1.8vw;
	font-weight: 1000;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	margin-top: 20px;
	background: #ffc331;
}
	.navbar-nav{
	}
		
		.nav-item a {

				display: block;
				padding:  10px 15px;
				text-decoration: none;
				background: #ffc331;	

			}
				.nav-item:last-child a {
					border-radius: 5px 5px 5px 5px;

				}

				.nav-item a:hover {
					background:  #dfe6e9;
					border-radius: 5px 5px 5px 5px;
				}

				.nav-item a:title{
					font-size: 25px;
				}
 
	 
 .card-header{
	min-height: 100px;
}

.card-body{
	max-height: 150px;
}

.card-img-top{
	max-height: 200px;
}
 
/* Menu responsivo */
@media (max-width: 480px) {
	.nav-item:first-child a {
		border-radius: 0 !important;

	}
}

@media (min-width: 480px) {
	
	.navbar-nav-mobile {
		left: 50%;
		width: 300px;
		margin-left: -150px;

}
	.nav-item:first-child a {
		border-radius: 5px 5px 5px 5px;
	}
	
}

/*erá aplicado nos dispositivos com telas maiores de 768 */
@media (max-width: 768px) {
	.navbar-nav {

		font-size: 1.8vw;
		font-weight: 1000;
	}
		.nav-list {
			width: 100%;
			display: none;
		}
			.nav-item {
				width: 100%;
				float: none;
				border-top:  1px solid #121211; /* linha entre as opções do menu responsivo*/
				font-size: 15px; /* tamanho da fonte do menu responsivo*/
				
			
			}
				.nav-item:first-child a {
					border-radius: 5px 5px 5px 5px;
				}

				.nav-item:last-child a {
					border-radius: 5px 5px 5px 5px;
				}

	/* Deixa o menu mobile visivel só para celulares e tablets */
	.nav-mobile {
		display: block;
	}
	.card-header{
		min-height: 100px;
	}
	
	.card-body{
		max-height: 150px;
	}
	
	.card-img-top{
		max-height: 150px;
	}
}
footer{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}


section{
	padding-top: 60px;
}














